:root {
    /* Dark mode variables */
    --background-color: #1F2937;
    --regular-heading-color: #FFFFFF;
    --green-heading-color: #4ADF86;
    --grey-text-color: #D5D4D8;

    --pw-box-background-color: #273549;
    --pw-box-text-color: #55f991;
    --pw-box-hover-background-color: #374151;
    
    --green-button-color:#10B981;
    --green-button-text: #FFFFFF;
    --green-button-hover-color: #0BA875;

    --divider-color: #2F3E53;
    transition: 0.3s;
}

body.dark-mode {    
    /* Light mode variables */
    --background-color: #ECFDF5;
    --regular-heading-color: #2B283A;
    --green-heading-color: #10B981;
    --grey-text-color: #6B7280;

    --pw-box-background-color: #273549;
    --pw-box-text-color: #5DEF92;
    --pw-box-hover-background-color: #414B5A;

    --green-button-color: #10B981;
    --green-button-text: #FFFFFF;
    --green-button-hover-color: #0BA875; 
    /* --green-button-hover-text: #2F3E53; */

    --divider-color: #D5D4D8;
    transition: 0.3s;
}

body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    margin: 0;
}

/*holds all visible UI*/

.everything-holder {
    padding: 1em 7%;
    /* border: 1px solid green; */
    margin: 0 auto;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr) / 1fr;  
    grid-row-gap: .9em;
    /* border: 1px solid red; */

    grid-template-areas: 
        "gnr8"
        "leng"
        "numb"
        "symb"
        "hori"
        "pwb1"
        "pwb2"
        "dark";
    justify-items: center;
    margin-bottom: 1.5em;
}

/* Grid-area selectors */
.generate-btn {grid-area: gnr8;}
.numb {grid-area: numb;}
.symb {grid-area: symb;}
.leng {grid-area: leng;}
.horizontal-divider {grid-area: hori; width: 100%; grid-column: 1 / -1;} 
#first-password-container {grid-area: pwb1; margin: 0;}
#second-password-container {grid-area: pwb2; margin: 0;}
.dark-mode-switch-container {grid-area: dark;}

header {
    height: 8em;
    margin-bottom: 1em;
}


.regular-heading {
    color: var(--regular-heading-color);
    font-family: 'Karla', sans-serif;
    font-size: 2.1em;
    line-height: 40px;
    margin: 0px;
}

.green-heading {
    color: var(--green-heading-color);
    font-size: 1.875em;
    margin: 0px;
}

h3 {
    font-size: 1.15rem;
    margin: .5em 0;
}

.grey-text {
    color: var(--grey-text-color);
    font-weight: 400;
}

.generate-btn {
    color: var(--green-button-text);
    background-color: var(--green-button-color);
    border: none;
    border-radius: 5px;
    padding: 11px 12px;
    font-size: 1.1em;
    margin: 1.25em 0 .55em 0;
    cursor: pointer;
    min-width: 250px;
    max-width: 300px;
    width: 70vw;
    height: 10vw;
    min-height: 2.5em;
    max-height: 3.25em;
    
}

.generate-btn:hover {
    background-color: var(--green-button-hover-color);
}

.horizontal-divider {
    color: var(--divider-color);
    margin: .55em 0 0.35em 0;
}

.pw-box {
    background-color: var(--pw-box-background-color);
    color: var(--pw-box-text-color);
    width: 11.25em;
    height: 1.25em;
    text-align: center;
    border: none;
    border-radius: 5px;
    padding: 7px 17px;
    font-weight: 400;
    overflow: hidden;
}

.user-defined-parameters {
    /* border: 1px solid purple; */
    display: flex;
    margin: 0 0 0.25em auto;
    width: 15em;
    align-items: center;
    justify-content: end;
}

.user-defined-parameters input {
    width: 4em;
    /* border: 10px solid goldenrod */
    margin: 0;
    -moz-appearance: textfield;
    
}

.pw-box:hover {
    background-color: var(--pw-box-hover-background-color);
}

.dark-mode-switch-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 1em 0 0 auto;
}

/* Media queries */
@media (min-width: 550px) {
    
    .everything-holder {
        max-width: 650px;   
    }
    
    header {
        margin: 6%;
    }
    
    .grid {
        grid-template-columns: repeat(7, 1fr) / 1fr 1fr;
        grid-template-areas: 
        "gnr8 leng"
        "gnr8 numb"
        ".... symb"
        "hori hori"
        "pwb1 pwb2"
        ".... ...."
        ".... dark"; 
        padding: 1em 6%;
        transition: .4s;
        justify-content: start;
        gap: 1em;
        margin-left: 0;
    }
    
    .regular-heading {
        color: var(--regular-heading-color);
        font-family: 'Karla', sans-serif;
        font-size: 2.5em;
        line-height: 40px;
        margin: 0px;
    }

    .green-heading {
        color: var(--green-heading-color);
        margin: 0px;
        font-size: 2.5rem;
    }

    .grey-text {
        color: var(--grey-text-color);
        font-weight: 400;
    }
    
    h3 {
        font-size: 1.25em
    }
    
    .generate-btn {
    font-size: 1.1em;
    letter-spacing: .5px;
    margin-top: 0;
    max-width: 100%;
    width: 100%; 
    /* align-self: end;
    justify-self: end; */
    grid-area: gnr8;
}
    
        /* Grid-area selectors */
    .numb {align-self: center; margin-top: 0;}
    .symb {grid-area: symb;}
    .leng {grid-area: leng; margin-bottom: 0.25em; align-self: center; justify-self: center;}
    .horizontal-divider {grid-area: hori; width: 100%; grid-column: 1 / -1;} 
    #first-password-container {justify-self: start;}
    #second-password-container {justify-self: end;}
    .dark-mode-switch-container {}
    
}


@media (min-width: 750px) {
    .everything-holder {
        margin-top: 7%;
    }

    .grid {
        margin-left: 0;
        gap: 1.5em;
        
    }

}

/*Everything here and below relates to the dark-mode toggle*/ 
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
    margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0284C7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0284C7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

label {
    display: inline-block;
    margin-right: 5px; /* Adjust this to your preference */
}