:root {
    /* Light mode variables */
    --background-color: #ECFDF5;
    --regular-heading-color: #2B283A;
    --green-heading-color: #10B981;
    --grey-text-color: #6B7280;

    --pw-box-background-color: #273549;
    --pw-box-text-color: #5DEF92;
    --pw-box-hover-background-color: #414B5A;

    --green-button-color: #10B981;
    --green-button-text: #FFFFFF;
    --green-button-hover-color: #0BA875; 
    /* --green-button-hover-text: #2F3E53; */

    --divider-color: #D5D4D8;
    transition: 0.3s;
}

body.dark-mode {
    /* Dark mode variables */
    --background-color: #1F2937;
    --regular-heading-color: #FFFFFF;
    --green-heading-color: #4ADF86;
    --grey-text-color: #D5D4D8;

    --pw-box-background-color: #273549;
    --pw-box-text-color: #55f991;
    --pw-box-hover-background-color: #374151;
    
    --green-button-color:#10B981;
    --green-button-text: #FFFFFF;
    --green-button-hover-color: #0BA875;

    --divider-color: #2F3E53;
    transition: 0.3s;
}

body {
    background-color: var(--background-color);
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    margin: 0;
}

/*holds all visible UI*/
.everything-holder, header{ 
    /* display: grid;
    grid-template-columns: 1fr;  */
    /* border: 1px solid red; */
}

.everything-holder {
    padding: 1em 7%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr) / 1fr;  
    grid-row-gap: 0.75em;
    border: 1px solid red;
    grid-template-areas: 
        "gnr8"
        "numb"
        "symb"
        "leng"
        "hori"
        "pwbx"
        "pwbx"
        "....";
    justify-items: center;
    margin-bottom: 1.5em;
}

/* Grid-area selectors */
.generate-btn {grid-area: gnr8;}
.numb {grid-area: numb;}
.symb {grid-area: symb;}
.leng {grid-area: leng;}
.horizontal-divider {grid-area: hori; width: 10em;} 
.pw-box-holder{grid-area: pwbx;} 

.regular-heading, .green-heading {
    font-size: 30px;
}

header {
    height: 19vh;
}
.regular-heading {
    color: var(--regular-heading-color);
    font-family: 'Karla', sans-serif;
    font-size: 30px;
    line-height: 40px;
    margin: 0px;
}

.green-heading {
    color: var(--green-heading-color);
    font-size: 20px;
    margin: 0px;
}

.grey-text {
    color: var(--grey-text-color);
    font-weight: 400;
}

.generate-btn {
    color: var(--green-button-text);
    background-color: var(--green-button-color);
    border: none;
    border-radius: 5px;
    padding: 11px 12px;
    font-size: 16px;
    margin: 20px 0px 0px 0px;
    cursor: pointer;
    max-width: 250px;
    
}

.generate-btn:hover {
    background-color: var(--green-button-hover-color);
}

.horizontal-divider {
    color: var(--divider-color);
    margin: 0;
    /* width: 450px; */
}





.pw-box {
    background-color: var(--pw-box-background-color);
    color: var(--pw-box-text-color);
    width: 180px;
    height: 20px;
    text-align: center;
    /* margin: 10px 24px 0 0px; */
    border: none;
    border-radius: 5px;
    padding: 7px 17px;
    font-weight: 400;
    overflow: hidden;
}

.user-defined-parameters {
    /* border: 1px solid purple; */
    display: flex;
    margin-left: auto;
    width: 15em;
    align-items: center;
    justify-content: end;
    
    
    
}

.user-defined-parameters input {
    width: 4em;
    /* border: 10px solid goldenrod */
    margin: 0;
    -moz-appearance: textfield;
    
}

.pw-box:hover {
    background-color: var(--pw-box-hover-background-color);
}

.dark-mode-switch-container {
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    border: 1px solid magenta;
}

/* Media queries */
@media (min-width: 550px) {

    .grid {
        grid-template-columns: repeat(5, 1fr) / 1fr 1fr;
        grid-template-areas: 
        "gnr8 numb"
        ".... symb"
        ".... leng"
        "hori ...."
        "pwbx pwbx"; 
        padding: 0 9%;
    }
    
    .regular-heading {
        color: var(--regular-heading-color);
        font-family: 'Karla', sans-serif;
        font-size: 40px;
        line-height: 40px;
        margin: 0px;
        
    }

    .green-heading {
        color: var(--green-heading-color);
        margin: 0px;
        font-size: 30px;
    }

    .grey-text {
        color: var(--grey-text-color);
        font-weight: 400;
    }
    
    .flex-align {
    display: flex;
    flex-direction: column;   
    }
    
    .pw-box-holder {
        flex-direction: row;
        align-items: center;
        border: 1px solid blue;
        gap: 1em;
    }
}

/*Everything here and below relates to the dark-mode toggle*/ 
/* The switch - the box around the slider */
.switch {
    position: relative;
    display: inline-block;
    width: 48px;
    height: 26px;
    margin-right: 5px;
}

/* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 21px;
    width: 21px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #0284C7;
}

input:focus + .slider {
    box-shadow: 0 0 1px #0284C7;
}

input:checked + .slider:before {
    -webkit-transform: translateX(21px);
    -ms-transform: translateX(21px);
    transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
} 

label {
    display: inline-block;
    margin-right: 5px; /* Adjust this to your preference */
}